#logo {
  width: 200px;
}
body {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: serif;
}
#first {
  color: #137c47;
}
header div {
  background-color: rgba(236, 236, 167, 0.89);
  border-top: solid rgb(255, 230, 0);
  text-align: center;
  height: 60px;
}
img {
  width: 100%;
  border-radius: 3%;
}
#featured h4,
#featured p {
  text-align: left;
  margin-top: 0%;
  margin-bottom: 0%;
  border-left: 2px solid rgb(223, 223, 10);
  padding-left: 8px;
}

#last {
  text-align: left;
}
hr {
  border-color: rgb(30, 223, 223);
}
footer {
  text-align: left;
}
